sudo: false
language: node_js
node_js: stable
notifications:
  email: false
addons:
  firefox: latest
env:
  global:
    - DISPLAY=:99.0
    - JPM_FIREFOX_BINARY=/usr/local/bin/firefox
before_install:
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install -g jpm
  - npm install -g eslint
  - npm install -g eslint-plugin-mozilla
script:
  - eslint ./
  - jpm test