@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

/**** General styles ****/

body {
  margin: 0;
  padding: 0;
  font-family: Fira Sans, sans-serif;
  background-color: #fbfbfb;

  /* The platform may override the color, this is
     why we need to set it explicitely to black */
  color: #000;
}

h1 {
  font-weight: 300;
  margin: 0;
}

a {
  color: #0996f8;
}

p {
  font-size: 0.9em;
  text-align: start;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

section {
  margin: 1em 25%;
}

/** Tabs **/
.tabs, .tabs li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs li {
  display: inline-block;
  margin: 0 1em;
}

.tabs li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: .5em 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  vertical-align: bottom;
}
.tabs li a::after {
  content: "";
  transition: transform 1s cubic-bezier(.07,.95,0,1);
  transform: scale(0);
  display: block;
  background: #0a84ff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;  
}

.tabs li.selected a {
  color: #0a84ff;
}
.tabs li.selected a::after {
  transform: none;
}

/* 
.browser {
  border: 1px solid rgba(12, 12, 13, 0.3);
  font: message-box;
  margin: 20px;
  border-radius: 2px;
}

.browser .tabbar {
  display: flex;
  padding-top: 2px;
  background-color: var(--theme-tabbar-background);
  color: var(--theme-tabbar-text-color);
}

.browser .tab {
  z-index: 999;
  flex: 1;
  max-width: 224px;
  min-width: 40px;
  color: var(--theme-navbar-color);
  border-top: 2px solid transparent;
  border-right: 1px solid rgba(12, 12, 13, 0.3);
  padding: 10px;
  margin-bottom: -1px;
}

.browser .tab.selected {
  border-top-color: rgba(12, 12, 13, 0.1);

  background-color: var(--theme-navbar-background);
}

.browser .new-tab-button {
  padding: 10px;
  background: url(images/browser/new-tab.svg) no-repeat center;
  -moz-context-properties: fill;
}

.browser .navbar {
  height: 30px;
  background-color: var(--theme-navbar-background);
  border-top: 1px solid rgba(12, 12, 13, 0.3);
}
*/
/**** Buttons ****/

.button, button, input[type="color"] {
  display: inline-block;
  text-decoration: none;
  position: relative;
  background: #fcfcfc;
  border: 1px solid rgba(0,0,0,0.1);
  color: #000;
  border-radius: 2px;
  padding: 0.5em;
  font-size: 0.8em;
  font: inherit;
}

input[type="color"] {
  padding: 2px;
}

input[type="color"]:hover {
  background-color: #ebebeb;
}

input[type="color"]:active {
  background-color: #c1c1c1;
}

.button::after,
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.button:hover::after,
button:hover::after {
  background-color: rgba(255,255,255,0.1);
}

.button:active::after,
button:active::after {
  background-color: rgba(0,0,0,0.1);
}

.button.red,
button.red {
  background-color: #d92215;
  color: #fff;
}

.button.green {
  background-color: #57bd35;
  color: #fff;
}

.button.yellow {
  background-color: #ffc446;
}

.button.black {
  background-color: #111;
  color: #fff;
}

button:focus,
input[type=color]:focus,
.button:focus {
  box-shadow: 0 0 0 2px rgba(97,181,255,.75);
}

/**** Cards ****/

.card {
  background: #fff;
  padding: 0.5em 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.card h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.card h2 {
  font-size: 1.25em;
  font-weight: normal;
}

/**** Header ****/

.header {
  position: sticky;
  top: 0;
  background-color: #EF3939;
  color: #fff;
  padding: 1em;
  transition: padding 0.2s;
}

.header h1 {
  transition: font-size 0.2s;
}

.header > .icon {
  margin-inline-end: 2em;
}

.icon {
  background-image: url(img/icon.svg);
  background-size: cover;
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}

.small-header > .header {
  padding: 0.5em;
}

.small-header > .header > h1 {
  font-size: 1.25em;
}

/**** Settings ****/

.setting {
  padding: 0.5em 0;
  overflow: auto;
  text-align: start;
  display: block;
}

.setting > input,
.setting > select {
  float: right;
}

.row {
  display: flex;
}

/**** Editor ****/
.theme-editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/**** Support me section ****/

.button::before {
  margin-inline-end: 0.5em;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: cover;
}

.money::before {
  content: "$";
  font-weight: bold;
  text-align: center;
}

.star::before {
  content: "";
  background-image: url(images/good-review.svg);
}

.github::before {
  content: "";
  background-image: url(images/github.png);
}
