:root {
  --toolbarbutton-hover-background: rgba(200,200,200,0.4);
  --toolbarbutton-hover-bordercolor: transparent;
  --toolbarbutton-hover-boxshadow: 0 0 0 1px var(--theme-colour) inset;

  --toolbarbutton-active-background: rgba(200,200,200,0.6);
  --toolbarbutton-active-bordercolor: transparent;
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--theme-colour) inset;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(200,200,200,0.5);
}

/** Tab bar **/
#TabsToolbar {
  --tab-stroke-background-size: 0 0;
}

/* Thanks to jotted on reddit for the australis tabs! */
/* Hide stroked background */
.tabbrowser-tab[visuallyselected] .tab-background-end::after,
.tabbrowser-tab[visuallyselected] .tab-background-end::before,
.tabbrowser-tab[visuallyselected] .tab-background-start::after,
.tabbrowser-tab[visuallyselected] .tab-background-start::before {
  content: none;
}

.tabbrowser-tab[visuallyselected] .tab-background-end,
.tabbrowser-tab[visuallyselected] .tab-background-start {
  background-color: var(--theme-accent-background);
}

/* Use built-in curve. */
.vivaldi-fox-australis-tabs .tabbrowser-tab[visuallyselected] .tab-background-end {
  clip-path: url("chrome://browser/content/browser.xul#tab-curve-clip-path-end");
}
.vivaldi-fox-australis-tabs .tabbrowser-tab[visuallyselected] .tab-background-start {
  clip-path: url("chrome://browser/content/browser.xul#tab-curve-clip-path-start");
}

/* Built-in curve has a gap at the top for the stroke. Simulate that with a linear gradient. */
.tabbrowser-tab[visuallyselected] .tab-background-middle {
  background-color: transparent;
  background-image: linear-gradient(
                      transparent,
                      transparent 2px,
                      var(--theme-accent-background) 2px,
                      var(--theme-accent-background)
                    ) !important;
  background-size: auto;
}

/* Squared tabs */
/* Override @tabCurveHalfWidth@ and @tabCurveWidth@ for squared tabs */
:root:not(.vivaldi-fox-australis-tabs) .tab-background-middle {
  border-left-width: 0;
  border-right-width: 0;
  margin: 0;
}

:root:not(.vivaldi-fox-australis-tabs) .tab-background,
:root:not(.vivaldi-fox-australis-tabs) .tabs-newtab-button {
  margin-inline-end: 0;
  margin-inline-start: 0;
}

:root:not(.vivaldi-fox-australis-tabs) .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  padding-inline-end: 0;
  padding-inline-start: 0;
}

:root:not(.vivaldi-fox-australis-tabs) .tab-background-start,
:root:not(.vivaldi-fox-australis-tabs) .tab-background-end {
  width: 0;
}
/* End override @tabCurveHalfWidth@ and @tabCurveWidth@ */
:root:not(.vivaldi-fox-australis-tabs) .tabs-newtab-button {
  width: auto !important;
}
:root:not(.vivaldi-fox-australis-tabs) .tabbrowser-tab:hover > .tab-stack > .tab-background:not([visuallyselected="true"]),
:root:not(.vivaldi-fox-australis-tabs) .tabs-newtab-button:hover {
  background: none;
}
:root:not(.vivaldi-fox-australis-tabs) .tabbrowser-tab:not([visuallyselected="true"]):hover, 
:root:not(.vivaldi-fox-australis-tabs) .tabs-newtab-button:hover {
  background-color: rgba(128,128,128,0.25) !important;
}
:root:not(.vivaldi-fox-australis-tabs) .tabbrowser-tab,
:root:not(.vivaldi-fox-australis-tabs) .tabs-newtab-button:hover {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
  pointer-events: auto !important;
}
:root:not(.vivaldi-fox-australis-tabs) .tabbrowser-tab {
  pointer-events: auto !important;
}
/* End squared tabs */

.tabbrowser-tab[visuallyselected] .tab-content {
  color: var(--theme-accent-colour);
  text-shadow: none !important;
}
:root.vivaldi-fox-tab-icon-background .tab-icon-image {
  background-color: #fff;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 1px;
}

/** Main window **/
:root.vivaldi-fox-os-mac #titlebar {
  -moz-appearance: none !important;
}
#main-window {
  text-shadow: none !important;
  background-color: var(--theme-secondary-background);
}
#titlebar-buttonbox.vivaldi-fox-invert-controls .titlebar-button:not(#titlebar-close),
#titlebar-buttonbox.vivaldi-fox-invert-controls #titlebar-close:not(:hover) {
  filter: invert(1);
}
:root:not(.vivaldi-fox-australis-tabs) .tabbrowser-tab[visuallyselected="true"],
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar) {
  background: var(--theme-accent-background) !important;
  color: var(--theme-accent-colour);
}
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar) toolbarbutton:not(.subview-button) {
  color: inherit;
}
.tabbrowser-tab[visuallyselected]:not(:-moz-window-inactive) .tab-background-middle,
#navigator-toolbox:not(:-moz-window-inactive) > toolbar:not(#TabsToolbar):not(#toolbar-menubar) {
  transition: background 0.1s;
}
#navigator-toolbox > #TabsToolbar:not(:-moz-lwtheme) {
  color: var(--theme-secondary-colour) !important;
}
:root.vivaldi-fox-os-linux #TabsToolbar,
:root.vivaldi-fox-os-linux #toolbar-menubar {
  -moz-appearance: none !important;
}

/** navbar **/
#identity-box {
  --identity-box-verified-background-color: transparent !important;
  --identity-box-hover-background-color: rgba(180,180,180,0.2) !important;
  --identity-box-selected-background-color: rgba(180,180,180,0.4) !important;
}
:root.vivaldi-fox-os-mac #urlbar-container #back-button,
:root.vivaldi-fox-os-mac #urlbar-container #forward-button {
  background: rgba(200,200,200,0.3);
  border-color: rgba(0,0,0,0.1) !important;
  box-shadow: none !important;
}
:root:not(.vivaldi-fox-os-mac) #urlbar-container #back-button .toolbarbutton-icon,
:root:not(.vivaldi-fox-os-mac) #urlbar-container #forward-button .toolbarbutton-icon {
  border-color: rgba(0,0,0,0.1) !important;
  box-shadow: none !important;
}
:root:not(.vivaldi-fox-os-mac) #urlbar-container #back-button:not(:hover):not(:active) .toolbarbutton-icon,
:root:not(.vivaldi-fox-os-mac) #urlbar-container #forward-button:not(:hover):not(:active) .toolbarbutton-icon {
  background: rgba(200,200,200,0.3) !important;
}
#main-window #TabsToolbar:not([collapsed="true"]) + #nav-bar {
  box-shadow: none;
  border-top-color: transparent !important;
}
#navigator-toolbox::after {
  background: var(--theme-accent-background);
}
#titlebar:not(:-moz-lwtheme),
#urlbar,
#nav-bar #urlbar:hover,
#nav-bar #search-container .searchbar-textbox {
  border-color: transparent;
  background: var(--theme-secondary-background);
  color: var(--theme-secondary-colour);
  box-shadow: none !important;
}
#urlbar[focused],
#nav-bar #search-container .searchbar-textbox[focused] {
  border-color: Highlight;
}
